logs/*
target/*
*/target/*
.proyect
.classpath
.settings/*
*/.settings/*


\.project
.metadata

desktop.ini


.sts4-cache/

.factorypath
test-output/
.vscode
/selenium-con-certificado/build-con-proxy.bat
/build-con-proxy.bat
/xvfb.log
/drivers
